:root {
  --text-color: #212121;
  --active-color: #2196f3;
  --button-background: #f5f4fa;
  --button-txt: #fff;
  --dark-background: #2f303a;
  --ordinary-text: #757575;
  --works-border: #eeeeee;
  --header-border: #ececec;
  --transitime: 250ms;
  --transifunction: cubic-bezier(0.4, 0, 0.2, 1);
}

/* border-box all over this hw*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

/* title, text, background and other */
.we-do.title,
.team.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team.card.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team.card.text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--ordinary-text);
  margin-bottom: 16px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.strength.card.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--ordinary-text);
}

.tile-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.works.card.text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--ordinary-text);
}

.card {
  list-style-type: none;
}
.bttm {
  background-color: var(--dark-background);
}
.bttm,
.hero {
  /* background-color: var(--dark-background); */
  color: var(--button-txt);
}
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imghero-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.strength.card.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

.hero-title,
.strength.card.title {
  text-transform: uppercase;
}

/*all that connected to links*/

/* .header.contacts.card > .link {
  color: var(--ordinary-text);
} */
/* .footer.contacts.card > .link:hover,
.footer.contacts.card > .link:focus,
.header.contacts.card > .link:hover,
.header.contacts.card > .link:focus, */
.link:hover,
.link:focus,
.link.current {
  color: var(--active-color);
  --color1: var(--active-color);
}
.footer.contacts.card > .link {
  color: rgba(255, 255, 255, 0.6);
}
.link {
  display: block;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.logo-link {
  text-decoration: none;
}

/* all about logo*/
.logo,
.header-logo,
.footer-logo {
  font-family: "Ralway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--active-color);
}
.header-logo {
  color: var(--text-color);
}
.footer-logo {
  color: var(--button-txt);
}

/* all about header and footer */
.header .card.footer .card {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.footer .card {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--button-txt);
}

/* all about buttons */
.btn,
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-background);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.hero-btn {
  background-color: var(--active-color);
  color: var(--button-txt);
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-txt);
}

/* для домашнего задания номер 3*/
/* styles for index.html */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}
.container {
  /* outline: solid tomato; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border);
}
.header.navigation {
  display: flex;
  align-items: center;
}
.logo.link.header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header.navigation.card {
  /*hw5*/
  display: block;
  /*   padding-top: 32px;
  padding-bottom:32px; */
  /*hw5*/
  margin-right: 50px;
}
.header.navigation.card:last-child {
  margin-right: 0px;
}
.header.contacts.cards {
  display: flex;
  margin-left: auto;
}
.header.contacts.card {
  margin-right: 50px;
}
.header.contacts.card:last-child {
  margin-right: 0;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}
.strength-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.strength.cards {
  display: flex;
}
.strength.card {
  width: 270px;
  margin-right: 30px;
}
.strength.card:last-child {
  margin-right: 0;
}
.strength.card.title {
  display: block;
  margin-bottom: 10px;
}
.we-do.title {
  display: block;
  margin-bottom: 50px;
}
.we-do.cards {
  display: flex;
}
.we-do.card {
  margin-right: 30px;
}
.we-do.card:last-child {
  margin-right: 0;
}
.we-do-section {
  padding-bottom: 94px;
}
.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team.title {
  margin-bottom: 50px;
}
.team.cards {
  display: flex;
}
.team.card.item {
  background-color: var(--button-txt);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team.card:last-child {
  margin-right: 0;
}
.team-card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team.card.title {
  margin-bottom: 10px;
}
.bttm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo.link.footer {
  display: block;
  margin-bottom: 20px;
}
.footer-adress {
  margin-bottom: 9px;
}
.footer.contacts.card {
  display: block;
  margin-bottom: 9px;
}

.footer.contacts.card:last-child {
  margin-bottom: 0;
}

/* styles for portfolio.html */
.section-works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.works.filters.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.works.filters.card {
  margin-right: 8px;
}
.works.filters.card:last-child {
  margin-right: 0;
}
.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.works.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 56px;
}
.card-border {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid var(--works-border);
  border-left: 1px solid var(--works-border);
  border-bottom: 1px solid var(--works-border);
}
.works.card.item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.works.card.item:nth-child(3n) {
  margin-right: 0;
}
.works.card.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.tile-title {
  margin-bottom: 4px;
}

/* Home work 4*/

/* .contacts.card {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.contact-icon {
  fill: currentColor; /* var(--ordinary-text); */
  margin-right: 11px;
}
/* .socials.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
} */
.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-socials-item:not(:last-child) {
  margin-right: 10px;
}
.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--ordinary-text);
  background-color: var(--button-txt);
  border-radius: 50%;
}
.team-socials-icon {
  fill: currentColor;
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--active-color);
  color: var(--button-txt);
}
/* .socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: var(--button-txt);
  color: var(--ordinary-text);
  fill: currentColor;

  border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus {
  color: var(--button-txt);
  background-color: var(--active-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: currentColor /* var(--button-txt) */ /*;
} */
.clients.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients.list {
  display: flex;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  color: var(--ordinary-text);
  border: 1px solid var(--ordinary-text);
  border-radius: 4px;
}

.clients-link:hover,
.clients-lind:focus {
  border-color: var(--active-color);
  color: var(--active-color);
}

.clients-icon {
  fill: currentColor;
}

/* .clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--active-color);
} */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.strength-div-block {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--button-background);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-adress {
  margin-right: 70px;
}
.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--dark-background);

  border-radius: 50%;
}
.footer-socials-icon {
  fill: var(--button-txt);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--active-color);
}
.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: var(--button-txt);
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--button-txt);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-socials-icon {
  fill: currentColor;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--active-color);
  color: var(--button-txt);
}
.works-card-link {
  display: block;
  text-decoration: none;
}
.works-card-link:hover,
.works-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* домашнее задание 5*/
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header.navigation.card > .link.current {
  position: relative;
}
.header.navigation.card > .link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 2px;
}
.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;

  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ordinary-text);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}

.we-do .card {
  position: relative;
  z-index: -1;
}

.we-do.card::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  display: block;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
/* .we-do.card {
  display: flex;
  align-items:center;
  justify-content:center;
} */
.we-do-card-text {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  left: 0;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-txt);
}
.work-card-thumb {
  position: relative;
  overflow: hidden;
}
.work-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--transitime) var(--transifunction);
}
.word-card-overlay-text {
  display: block;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--button-txt);
}
.work-card-thumb:hover,
.works-card-link:hover .work-card-overlay,
.work-card-thumb:focus,
.works-card-link:focus .work-card-overlay {
  transform: translateY(0);
}

.footer-contact-link {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ordinary-text);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--active-color);
}
/* modal window*/
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform var(--transitime) var(--transifunction),
    opacity var(--transitime) var(--transifunction);
}
.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-backdrop.is-hidden .modal-view {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(1.5);
}
.modal-view {
  position: absolute;
  padding-left: 40px;
  padding-right: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--button-txt);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transitime) var(--transifunction),
    opacity var(--transitime) var(--transifunction),
    visibility var(--transitime) var(--transifunction);
}
.modal-view-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;

  color: var(--text-color);
  background-color: var(--button-txt);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: --color1 var(--transitime) var(--transifunction);
}
/* animation*/

/* .footer.contacts.card > .link,
.header.contacts.card > .link, */
.link {
  transition: color var(--transitime) var(--transifunction),
    --color1 var(--transitime) var(--transifunction)
      /* ,
  fill var(--transitime) var(--transifunction) */;
}
.contact-link {
  transition: color var(--transitime) var(--transifunction);
}
.btn {
  transition: color var(--transitime) var(--transifunction),
    background-color var(--transitime) var(--transifunction),
    box-shadow var(--transitime) var(--transifunction);
}

.team-socials-link {
  transition: background-color var(--transitime) var(--transifunction),
    color var(--transitime) var(--transifunction);
}
.footer-socials-link {
  transition: background-color var(--transitime) var(--transifunction)
    /* ,
  color var(--transitime) var(--transifunction) */;
}
.clients-link {
  transition: border-color var(--transitime) var(--transifunction),
    color var(--transitime) var(--transifunction);
}
.footer-contact-link {
  transition: color var(--transitime) var(--transifunction);
}
.works-card-link {
  transition: box-shadow var(--transitime) var(--transifunction);
}

/* homework 6*/

.modal-view-title {
  padding-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form-field {
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin-bottom: 10px;
/*   padding-left: 40px;
  padding-right: 40px; */
}
.form-field.textarea {
  margin-bottom: 20px;
}
.form-label {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--ordinary-text);
}
.form-input {
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);

  transition: border var(--transitime) var(--transifunction),
    color var(--transitime) var(--transifunction);
}
.form-input:focus-within,
.form-input-textarea:focus-within {
  outline: 0;
  border: 1px solid var(--active-color);
}
.form-input:focus-within + .modal-contact-icon,
.form-input-textarea:focus-within + .modal-contact-icon {
  fill: var(--active-color);
}
.form-input:hover,
.form-input:focus,
.form-input-textarea:hover,
.form-input-textarea:focus {
  border: 1px solid var(--active-color);
}
.form-field:hover .modal-contact-icon {
  fill: var(--active-color);
}
.form-input-textarea {
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  resize: none;
}
.modal-contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--transitime) var(--transifunction);
}
.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
/* .mod-checkbox{
  position: absolute;
  top:0;
  left: 14px;
  background-image: url('/images/icons.svg#icon-checked');
  width:16px;
  height:15px;

  border: 2px solid var(--text-color);
  border-radius: 2px;
} */
.mod-icon {
  position: absolute;
  display: block;
  top: 0;
  transform: translate(0, 20%);
  left: 12px; 
  border: 2px solid var(--text-color);
  border-radius: 2px;
  background-color: var(--button-txt);
  transition: background-color var(--transitime) var(--transifunction);
}
.form-label.copyright {
  display: flex;
  align-items: center;
  padding-left: 38px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.input-checkbox:checked ~ .mod-checkbox > .mod-icon {
  background-color: var(--active-color);
  border: 1px solid var(--active-color);
}
.input-checkbox:focus ~ .mod-checkbox > .mod-icon {
  /* background-color: var(--active-color); */
  border: 2px solid var(--active-color);
}
.btn-submit {
/*   min-width: 200px;
  min-height: 50px; */
  padding-left: 29px;
  padding-right: 29px;
  padding-top:  10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background: var(--active-color);
  color: var(--button-txt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
}
.copyright-link {
  display: block;
}
.copyright-link,
.copyright-link:visited {
  color: var(--active-color);
}
.footer-container-subscription-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscription-form {
  display: flex;
}
.footer-container-subscription-title {
  margin-bottom: 20px;
}
.subscription-form-field:not(:last-child) {
  margin-right: 12px;
}
.subscription-form-input {
  min-width: 358px;
  min-height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription-form-input:focus-within {
  outline: none;
}
.btn-submit-title {
  display: inline-block;
  margin-right: 10px;
}
.btn-submit.footer-subscription {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription-icon {
  display: block;
  fill: currentColor;
}
.footer-container-socials {
  margin-right: 93px;
}
.modal-view-close:hover > .close-icon,.modal-view-close:focus > .close-icon{
  --color1:var(--active-color);
}